.previewer {
    position: absolute;
    left: 50%;
    top: 340px;
    transform: translate(-50%, 0);
    width: 90vw;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.previewer_header {
    width: 100%;
    background-color: #4aa3a3;
    font-weight: 900;
    font-size: 20px;
    padding: 4px 17px;
    border-top: 0.5px solid #1d2f2f;
    border-right: 0.5px solid #1d2f2f;
    border-bottom: 2px solid #1d2f2f;
    border-left: 0.5px solid #1d2f2f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previewer_body {
    background-color: #c0d8d8;
    overflow: auto;
    padding: 20px 10px 28px;
    height: 750px;
    width: 100%;
}